/*
Basic HTML element styling
*/

html, body {
    background-color: $body-color;
    font-family: $font1;
    font-size: 13px;
    color: $text-color;
    line-height: 140%;
    margin: 0;
    padding: 0;
    *{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

ul{
    list-style:none;
    margin:0;
    padding:0;

    li{
        padding:7px 0;
    }
}

input, textarea, button, select {
    box-sizing: border-box;
    padding:10px;
    @include border-radius(0);
    border:1px solid #ddd;
    margin:5px 0px;
    outline:none;
}

input, select {
    height:40px;
}

button{
    background: $color2;
    border:0;
    @include border-radius(3px);
    padding:14px 21px;
    color:#fff;
    text-transform: uppercase;
    margin:0;
    font-weight:bold;
    //@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
    cursor:pointer;
    outline: none;
}

a {
    color:$text-color;
    text-decoration:none;
    font-family: $font2;
}

hr {
    clear:both;
    height:1px;
    border:0;
    background-color:$color6;
    margin:34px 0;
    padding:0;
}

form {
    width:100%;
    box-sizing: border-box;
    margin:10px 0;

    &:after {
        content: ' ';
        display: block;
        clear: both;
    }

    label{
        font-weight:bold;
    }

    button{
        background: $color1;
        color:#fff;
    }

    input, textarea, button,  {
        width:100%;
        font-size: 14px;
        outline:none;
    }
    select{
        width:100%;
    }
}

h1 {font-family:$font2; font-size:35px;  font-weight:300; margin:45px 0 20px 0; line-height: 100%; }
h2 {font-family:$font2; font-size:30px;  font-weight:300; line-height: 100%; }
h3 {font-family:$font2; font-size:22px;  font-weight:300; line-height: 100%;}
h4 {font-family:$font2; font-size:18px; font-weight:300; line-height: 110%; }
h5 {}
h6 {}

p{
    margin:10px 0 20px 0;
    a{text-decoration:underline;}
    a:hover{color:$color1;}
}

/*
Global used Classes
*/

#edit-btn {
    position: absolute;
    right:30px;
    top:30px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        @extend .fa-spin;
    }
}

#back-btn {
    position: absolute;
    left:30px;
    top:30px;
    font-size: 18px;
    cursor: pointer;
}

.absoluteFill {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}

.profilePicture {
    background-color: #ccc;
    background-image:url('../assets/images/profile-img-placeholder.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    @include border-radius(100%);
    vertical-align: middle;
    min-width:40px;
    min-height: 40px;
    margin:5px 10px;
}

.preloader {
    @include centerElement('both');
}

.widgetContainer li{padding:0}
.matching-widget {
    @include border-radius(3px);
    //@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
    @include single-transition(height, 0.3s);
    margin-bottom:10px;
    background: #eee;
    border:1px solid #dedede;

    .alert{
        color:#ff0000;
    }

    label{
        font-family:$font2;
        display:block;
        width: 100%;
        padding:20px;
        box-sizing: border-box;
        cursor: pointer;
        i{
            float:right;
        }
    }

    button {
        background:none;
        float:right;
        width:auto;
        padding:0;
        margin:10px 4px;
        border:0;
        color:$color9;
        i{margin-right:5px !important; margin-top: 2px !important;}
    }

    .inner {
        @include single-transition(opacity, 0.3s);
        margin-bottom:20px;
        box-sizing:border-box;
        width:100%;
        padding:0 20px 20px 20px;
        display:block;
        font-size:14px;
        cursor:pointer;

        form{
            margin:0;
        }

    }

    &.collapsed {
        max-height:55px;
        overflow: hidden;
        .inner{
            display:none;
        }
    }


}

.matchingProfile {
    cursor:pointer;
    border-bottom:1px solid #ccc;
    padding: 10px 0;
    font-size:13px;
    .profilePicture {
        display: inline-block;
        vertical-align: middle;
        width:35px;
        height:35px;
        margin:0;
        margin-top:-20px;
        margin-right:10px;
    }
    span{display: inline-block;}
    strong{font-size:16px;}
    @include pie-clearfix();
}

strong{font-family: $font2;}

img.profilePicture[src=""] {
    content:url('../assets/images/profile-img-placeholder.png');
}
