#edit-btn {
    position: absolute;
    right:30px;
    top:30px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        @extend .fa-spin;
    }
}

#back-btn {
    position: absolute;
    left:30px;
    top:30px;
    font-size: 18px;
    cursor: pointer;
}

.viewslider {
    overflow: hidden !important;
    padding:0 !important;

    .slideContainer {
        @include single-transition(transform, 0.3s);
        @include translateX(0%);
        width:1000%;
    }

    @for $i from 0 to 10 {
        $position: 10%*$i;

        .slide-#{$i} {
            position: absolute;
            width:10%;
            @include translateX($position*10);
            @include box-sizing();
            padding:$globalPadding;
        }

        &.slide-#{$i} {
            .slideContainer {
                @include translateX(-$position);
            }
        }
    }
}
