//=============================================================================================
// TEMPLATES
// Template specifieke styling
//=============================================================================================

// TEMPLATE MAIN
//=============================================================================================

section#template-main {
	@extend .absoluteFill;
	//templatespecs
	$headerHeight: 80px;
	$asideWidth: 350px;

	header#app {
		@extend .absoluteFill;
		height:$headerHeight;
		box-sizing: border-box;
		background:$color10;
		padding:15px;
        overflow: visible;

		img#logo {
			position:absolute;
			left:81px;
			top:29px;
		}

        section#globalSearchBox{
            @include centerElement('horizontal');
            width:457px;
            top:15px;
            z-index: 9999;

            input#searchfield{
                height:40px;
                width:100%;
                padding:0 21px;
                color:$color4;
                @include box-sizing(border-box);
                @include border-radius(3px);
                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.26);
                background-image:url(../assets/images/search-icon.png);
                background-position:right 10px;
                background-repeat: no-repeat;
                font-size:$fontsize3;
            }

            .result{
                position: absolute;
                left:0;
                top:45px;
                width:100%;
                background: #fff;
                @include border-radius(3px);
                @include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
                @include box-sizing(border-box);
                padding:0 25px;

                li {
                    overflow: hidden;
                    padding:10px 0;
                    border-top:1px solid #eee;
                    cursor: pointer;
                    .profilePicture{
                        min-width:30px;
                        min-height:30px;
                    }
                    &:hover{
                        background-color:#eee;
                    }
                }
            }

            &.hasresults {
                .result {
                    padding-bottom:25px;
                }
            }
        }

		section#profileAccountInfo{
			position:absolute;
			right:0;
			top:0;
			bottom:0;
			padding:0 76px 0 16px;
			border-left:1px solid $color9;
			height:40px;
			margin-top:20px;
			line-height:40px;
			color:$color8;
			font-size:$fontsize3;

			#profile-username{
				cursor:pointer;
			}

			img{
				margin:0 19px;
				float:left;
				@include border-radius(100%);
			}

			i{
				font-size:$iconsize;
				margin-left:10px;
			}
		}
	}


	//==============================================
	// User navigation
	// animated
	//=============================================

	aside#user-menu {
		@extend .absoluteFill;
		@include box-sizing();
		padding:$globalPadding;
		top:$headerHeight;
		width:$asideWidth;
		background-color:$color6;
		border-right:1px solid #c2c2c2;
		overflow:visible;
		@include transition-property(width,padding);
		@include transition-duration(0.3s);

		h3{
			color:$color4;
			font-size:$fontsize3;
			margin-top:$globalPadding;
		}

		nav{

			hr{
				background-color:$color5;
			}

			ul{
				li{
					font-size:$fontsize3;
					height:$globalPadding;
					line-height:$globalPadding;
					margin-bottom:5px;
					cursor:pointer;
				}
			}

			i {
				width:40px;
				margin-right:26px;
			}

			a{
				color:$color4;
				&.active{
					color:$color1;
					i{
						color:$color11;
					}
				}

				&:hover{
					color:#212121;
					i{
						color:#757575;
					}
				}
			}
			i{
				width:15px;
			}

			// project images
			.projectImg{
				@include border-radius(100%);
				float:left;
				margin:4px 20px 0 0;
			}

			a.more-projects{
				display: block;
				color:$color11;
				font-size:14px;
				text-transform: uppercase;
				margin-top:$globalPadding;
			}

		}

		// button collapse main-nav
		button#toggle-user-menu{
			position:absolute;
			top:$globalPadding;
			right:-20px;
			z-index:999;
			@include border-radius(100%);
			background-color:$color11;
			width:40px;
			height:40px;
			box-sizing:border-box;
			padding:0;
			font-size:$iconsize;
			@include single-transition(all,0.3s);
		}
	}

	section#pagewrapper {
		@extend .absoluteFill;
		left:$asideWidth;
		top:$headerHeight;
		padding:0;
		@include single-transition(all,0.3s);
	}
}

body.user-nav-small{

	section#template-main{

		section#pagewrapper{
			left:101px;
			overflow:visible;
		}

		aside#user-menu{
			width:100px;
			padding:50px 30px;

			button#toggle-user-menu{
				@include rotate(180deg);
			}

			.more-projects{
				display:none;
			}

			span,h3{
				display:none;
			}
			li i{
				width:40px;
				text-align:center;
				font-size:24px;
			}
		}
	}
}


// TEMPLATE LOGIN
//=============================================================================================

section#template-login {

}

//=============================================================================================
// Account NAV
// animated
//=============================================================================================
section#account-nav{
	display:none;
	@include transition(0.3s);
	position:absolute;
	top:65px;
	right:78px;
	width:252px;
	background-color:$color8;
	z-index:3;
	@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
	@include border-radius(3px);
	padding:20px 0;
	@include box-sizing(border-box);

	h2{
		font-size:$fontsize4;
		margin-left:$globalPadding;
	}

	ul{

		li{
			width:100%;
			height:50px;
			color:$color3;
			font-size:$fontsize3;
			cursor: pointer;
			i{
				margin-right:20px;
				width:10px;
				font-size:$fontsize2;
			}
			padding:0 50px;
			@include box-sizing(border-box);
			line-height:50px;


			&:hover{
				background-color:$color6;
				color:$color1;
			}

		}

	}
}


body.account-nav-visible{

	section#account-nav{
		display:block;
	}
}

//=============================================================================================
// PAGES
// pagina specifieke styling
//=============================================================================================

$globalPageHeaderHeight: 140px;
$globalPageLeftWidth: 350px;
$globalPageRightWidth: 398px;

header#page-header, aside#page-left, aside#page-right, section#page-content  {
	@extend .absoluteFill;
	@include box-sizing();
	padding:$globalPadding/2 $globalPadding;

	h4{ font-weight: bolder; font-size:22px; font-weight:600; line-height:48px; margin:0; color:$color10; }
	ul{margin: 30px 0;}
}

header#page-header {
	background-color:$color8;
	border-bottom:1px solid #e0e0e0;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.26);
	height:$globalPageHeaderHeight;
	z-index: 2;
	overflow: visible;
	padding:50px 80px;

	button{
		float:right;
		background-color:$color11;
		i{
			font-size:$fontsize1;
			margin-left:20px;
		}
	}

	nav#submenu {
		position:absolute;
		bottom: -1px;
		left: 80px;
		ul{margin:0;}
		li{
			display: inline-block;
			margin:0;
			margin-right: 20px;
			height:auto;
			padding:0;
			a{
				color:$color3;;
				padding-bottom:10px;
				font-size:$fontsize3;
				display: block;
				height: 28px;

				&:hover{ color:$color2; }
				&.active {border-bottom: 4px solid $color11; color:$color2;}
			}
		}
	}

    &.has-image{
        img{float:left; margin-right:30px;}
        nav#submenu {left:220px}
    }
}

aside#page-left, aside#page-right {
	background-color:$color8;
	top:$globalPageHeaderHeight;
	overflow: auto;
	z-index: 1;
	@include single-transition(transform, 0.3s);
	font-size:$fontsize3;

	header.picture {
		@include ignoreGlobalPadding(1,1,0,1);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px;
	}

	h4{
		color:$color1;
		line-height:24px;
		font-size:$fontsize5;
		margin-top:44px;
	}

	.owner{
		color:$color2;
		font-size:$fontsize3;
		margin-top:25px;
		display: block;
		width: 100%;
	}

	.status{
		margin-top:18px;
		color:$color3;
		display: block;
		width: 100%;
		img{
			float:left;
			margin-right:15px;
		}
	}

	.expertise{
		h5{
			font-size:$fontsize3;
		}
		i{
			float:left;
			margin-right:18px;
		}
	}

	hr{
		color:#e0e0e0;
	}
}

aside#page-left {
	border-right: 1px solid #e0e0e0;
	width:$globalPageLeftWidth;
	@include translateX(-100%);
}

aside#page-right {
	border-left: 1px solid #e0e0e0;
	left:auto;
	width:$globalPageRightWidth;
	@include translateX(100%);
}

section#page-content {
	top:$globalPageHeaderHeight;
	overflow: auto;
	@include single-transition(all, 0.3s);

	section {
		@include ignoreGlobalPadding();
		box-sizing: border-box;
		padding:$globalPadding/2 $globalPadding;
	}

	header#overview {
		@include ignoreGlobalPadding(1,1,0,1);
		box-sizing: border-box;
		padding:0 80px;
		border-bottom:1px solid #e0e0e0;
		@include clearfix();
		height:98px;
		line-height: 98px;

		.count {
			font-size:$fontsize3;
			color:$color4;
		}
		.options{
			float:right;
			margin:0;
			li{
				padding: 0;
				display: inline-block;
				width:40px;
				text-align: center;
				margin-left:21px;

				button{
					background-color:$color8;
					width:40px;
					height:40px;
					padding:0;
					box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.26);

					i{color:$color4; font-size:$fontsize1;}

					&.active, &:hover{
						background-color:$color11;

						i{ color:$color8; }
					}
				}
			}

		}
	}

	section#overview.tiles {
		padding:$globalPadding 80px;
		//text-align: center;
		.tile {
			@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
			@include border-radius(3px);
			background: #fafafa;
			display: inline-block;
			width:300px;
			height:320px;
			margin:0 $globalPadding $globalPadding 0;
			padding:0;
			vertical-align: top;
			font-size: $fontsize2;
			text-align: left;
			cursor: pointer;
			@include border-radius(3px);
			img{
				max-width: 100%;
				@include border-radius(3px);
			}

			.info{
				background: #fafafa;
				position:absolute;
				bottom:0;
				height:160px;
				width:100%;
				@include box-sizing();
				padding:36px 52px;
				span{display: block; margin:3px 0;}
				h4{
					color:$color2;
					margin:0;
					padding:0;
					font-size:$fontsize4;
					height:42px;
					line-height:24px;
				}
				.owner{
					color:$color2;
					font-size:$fontsize3;
					margin-top:10px;
				}

				.status{
					margin-top:10px;
					color:$color3;

					img{
						float:left;
						margin-right:15px;
					}
				}


			}

			&.selected {
				@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.5));
			}
		}
	}

	section#overview.list {
		@include ignoreGlobalPadding();
		padding:0;

		h5 {margin:15px 0; margin-bottom:-20px; padding:$globalPadding/2 $globalPadding;}

		table {
			width:100%;
			td,th {
				padding:30px 50px;
				text-align: left;
				border-bottom:1px solid #e0e0e0;
			}

			td {cursor: pointer;}
			th {padding-bottom:10px }
		}
	}
}

#page.aside-left {
	aside#page-left { @include translateX(0%); }
	section#page-content { left:$globalPageLeftWidth; }
}

#page.aside-right {
	aside#page-right { @include translateX(0%); }
	section#page-content { right:$globalPageRightWidth; }
}


// PAGE LOGIN
//=============================================================================================

section#page.login {
	@extend .absoluteFill;

	$loginWidth: 400px;

	header{
		@include box-sizing();
		@extend .absoluteFill;
		background-color:$color10;
		border-bottom: 1px solid #cd1a57;
		bottom:50%;
		padding-top:111px;
		text-align: center;
		h1, h3{ margin:0; padding:0; color:$color8; }
		h1{ font-weight:bold; font-size:$fontsize8; margin-bottom:20px; }
		h3{ font-size:$fontsize6; font-weight:normal; }
	}

	footer{
		position:absolute;
		@include centerElement('horizontal');
		top:612px;
		width:$loginWidth;
		z-index:9;

		a{
			color:#9e9e9e;
			font-weight:normal;
			font-size:$fontsize3;
			&:nth-child(2){
				float:right;
			}
		}
	}

	section{
		background-color:$color8;
		@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
		@include border-radius(3px);
		@include centerElement('horizontal');
		top:275px;
		@include box-sizing();
		padding:0 $globalPadding;
		margin-top:-18px;
		width:$loginWidth;

		img{ @include ignoreGlobalPadding(1,1,0,1); } //border-bottom:1px solid #ccc; }
		p.message{ margin-left:20px; font-size:15px; color:$color10;}

		h4{
			font-weight:bold;
			font-size:24px;
			margin: $globalPadding 0 20px 0;
		}

		form{
			padding-bottom:40px;
			input{
				border:0;
				border-bottom:1px solid #ccc;
				padding-left:30px;
			}

			input[type=checkbox]{
				float:left;
				width:auto;
				margin-right:11px;
			}

			label{
				position:relative;

				i{
					position: absolute;
					bottom:2px;
					color:#9e9e9e;
				}

				.message{
					color:$color10;
					font-size:11px;
					margin:0;
					text-align:right;
					padding:0;
					height:15px;


					&.password{
						margin-bottom:$globalPadding;
					}
				}

			}

			button{
				position:absolute;
				right:$globalPadding;
				bottom:35px;
				background-color:$color11;
				width:auto;
				font-size:$fontsize2;

				i{
					margin-left:14px;
				}
			}
		}
	}
}


// PAGE Registration
//=============================================================================================

section#page.registration {
	@extend .absoluteFill;
	overflow:auto;
	header{
		@include box-sizing();
		@extend .absoluteFill;
		background-color:$color10;
		border-bottom: 1px solid #cd1a57;
		bottom:50%;
		padding-top:111px;
		text-align: center;
		h1, h3{ margin:0; padding:0; color:$color8;  }
		h1{ font-weight:bold; font-size:$fontsize8; margin-bottom:20px; }
		h3{ font-size:$fontsize6; font-weight:normal; }
	}

	section{
		background-color:$color8;
		@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
		@include border-radius(3px);
		@include centerElement('horizontal');
		top:230px;
		@include box-sizing();
		padding:$globalPadding;
		margin:0 0 120px 0;
		width:680px;

		h2{ margin:0; font-size:$fontsize6; color:$color2; }
		img{ @include ignoreGlobalPadding(1,1,0,1); } //border-bottom:1px solid #ccc; }
		p.message{ margin-left:20px; font-size:15px; color:$color2;}

		form{

			label{
				position:relative;
				font-size:$fontsize3;
				color:$color2;

				i{
					position: absolute;
					bottom:2px;
					color:#9e9e9e;
				}
			}

			h4{
				margin:0 0 20px 0;
				color:$color10;
			}

			span{
				color:$color10;
				float:right;
				height:20px;

				&.required{
					float:none;
				}
			}

			select{
				color:$color3;
				font-size:$fontsize3;
				option{
					display:block;
					height:50px;

					&:hover{
						background-color:$color6;
					}
				}
			}

			input{
				border:0;
				border-bottom:1px solid #ccc;
				padding-left:30px;
			}

			button{
				position:absolute;
				right:$globalPadding;
				bottom:$globalPadding;
				background-color:$color11;
				width:auto;

				i{
					margin-left:14px;
				}
			}
		}
	}
}


// PAGE PROFILE
//=============================================================================================

section#page.profile {

	header#page-header {
		padding-left:225px;

		.profilePicture {
			position:absolute;
			left:75px;
			bottom:-30px;
			@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
		}

		nav#submenu {left: 225px;}
	}

	section#page-content {
		padding-top:0;
		h3{
			font-size:$fontsize4;
			color:$color2;
		}

		section#passion {
			padding:$globalPadding 80px 0 80px;

			p{
				color:$color3;
				font-size:$fontsize2;
				line-height:24px;
			}


		}
		section#qualities {
			width:100%;
			border:1px dashed #e4e4e4;
			padding: 25px 30px;
			margin: 0 20px 0 0;

			ul {
				list-style: none;
				padding:0 20px;
				margin:0;
				padding: 0;
				li{
					margin:0 0 20px  0;
					display: table;
					padding:15px;
					color:$color3;
					font-size:$fontsize3;
					@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
					cursor:pointer;

					i{
						margin-left:20px;
						color:$color3;
						font-size:$fontsize1;
					}
				}
			}

			.add-quality-btn{
				color:$color12;
			}
		}
	}

	aside#page-left{

		input{
			margin-bottom:10px;
		}

		h4{
			font-size:$fontsize5;
			color:$color2;
			margin-top:10px;
		}

		h5{
			font-size:$fontsize3;
			color:$color3;
			line-height:24px;
			font-weight: normal;
		}
		i{
			float:left;
			margin-right:20px;
		}
		h6{
			margin:0 0 20px 0;
			font-size:$fontsize3;
			font-family:$font2;
		}

		p{
			color:$color3;
			font-size:$fontsize3;
			line-height:30px;
		}

		button{
			width: auto;
			background-color:$color12;
			float:right;
			i{
				margin-left:10px;
			}
		}
	}
}


// PAGE PROFILE MATCHING
//=============================================================================================

section#page.project-matching {

	.profilePicture{
		width:60px;
		height:60px;
	}

	header#page-header {
		padding-left:225px;

		.profilePicture {
			position:absolute;
			left:75px;
			bottom:-30px;
			height:100px;
			width:100px;
			@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
		}

		nav#submenu {left: 225px;}
	}

	aside#page-left{
		padding:20px;
		.profilePicture {
			float:left;
		}
		h4,h5{
			float:left;
			line-height:24px;
		}
		h4{
			width: 168px;
			font-size:$fontsize2;
		}

		h5{
			margin:10px 0 20px 0;
			font-size:$fontsize1;
		}

		button{
			float:right;
			background-color:$color12;
			i{
				margin-left:10px;
			}
		}
	}

	section#page-content {

		header#criteria-header{
			position:absolute;
			left:0;
			top:0;
			right:0;
			height:70px;
			padding:20px;
			@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));

			button{
				margin-top: 17px;
				float:right;
				background-color:$color12;

				i{
					margin-left:10px;
				}
			}

			h5{
				display:table;
				float:left;
				font-size:$fontsize3;
			}

			.criteria{

				.profilePicture{
					float:left;
					cursor:pointer;
					position:relative;

					.info{
						display: none;
						position:absolute;
						left:0;
						top: 60px;
						width: 230px;
						height: 44px;
						padding:10px;
						color:$color8;
						background-color:$color10;
						z-index:9999;
					}

					&:hover .info{
						display:block;
					}
				}

			}
		}

		section#matchingResults{
			top:80px;

			h3{
				font-size:$fontsize4;
				color:$color2;
			}

		}



	}

	aside#page-left{

		h4{
			font-size:$fontsize5;
			color:$color2;
			margin-top:10px;
		}

		h5{
			font-size:$fontsize3;
			color:$color3;
			line-height:24px;
			font-weight: normal;
		}
	}
}




//=============================================================================================
// PAGE NETWORK
//=============================================================================================

section#page.network {

}


//=============================================================================================
// PAGE Courses
//=============================================================================================

section#page.courses {

	// add project popup
	section#add-course-popup{
		display:none;
		background-color:$color8;
		padding:$globalPadding;
		width:380px;
		@include centerElement('both');
		z-index:9;
		@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
		@include border-radius(3px);

		input,textarea{
			@include border-radius(3px);
		}

		textarea{
			height:200px;
		}

		button{
			width: auto;
			margin-top: 20px;
			float: right;
			background-color:$color12;
			margin-left:20px;

			&.close{
				background-color:$color4;
			}
		}
	}

	header#page-header {
		button{
			float:right;
			background-color:$color11;

			i{
				margin-left:20px;
			}
		}
	}
}

section#page.popup-new-project{

	section#add-project-popup{
		display:block;
	}

}

//=============================================================================================
// PAGE REFERENCES
//=============================================================================================

section#page.references {

	header#page-header{
		padding-left:225px;
		padding: 50px 80px;
	}

	section#page-content{

		section.reference{
			padding:30 80px;
			border-bottom:1px solid #e2e2e2;
			position:relative;

			.configs{
				position:absolute;
				right:80px;
				top:40px;

				i{
					margin-left:10px;
					cursor:pointer;
					padding:10px;
					color:$color3;
					font-size:$fontsize2;
					@include border-radius(100%);
					@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
				}

			}

			h2{
				margin:20px 0 10px 0;
				color:$color12;
			}
			h3{
				margin:0;
				color:$color3;
			}
			.referencePersonImage{
				@include border-radius(100%);
				float:left;
				margin:0 20px 0 0;
			}
		}

	}

}


//=============================================================================================
// PAGE PROJECTS
//=============================================================================================

section#page.projects {

	// add project popup
	section#add-project-popup{
		display:none;
		background-color:$color8;
		padding:$globalPadding;
		width:380px;
		@include centerElement('both');
		z-index:9;
		@include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.25));
		@include border-radius(3px);

		input,textarea{
			@include border-radius(3px);
		}

		textarea{
			height:200px;
		}

		button{
			width: auto;
			margin-top: 20px;
			float: right;
			background-color:$color12;
			margin-left:20px;

			&.close{
				background-color:$color4;
			}
		}
	}

}

section#page.popup-new-project{

	section#add-project-popup{
		display:block;
	}

}
