//@import 'fonts';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

$font1: 'proxima_nova_rgregular', 'Open Sans';
$font2: 'proxima_novasemibold', 'Open Sans';
$font3: 'proxima_nova_rgbold', 'Open Sans';

// black, gray and white
$color1: #000;
$color2: #212121;
$color3: #757575;
$color4: #9e9e9e;
$color5: #bdbdbd;
$color6: #f5f5f5;
$color7: #fafafa;
$color8: #ffffff;

// roze
$color9: #a21e5c;
$color10: #a21e5c;

// purple/blue
$color11: #3949ab;
$color12: #3f51b5;

// orange
$color13: #fb8c00;
$color14: #ff9800;

// green
$color13: #7cb342;
$color14: #8bc34a;

$body-color: #fff;
$text-color: $color1;

// fontsizes
$iconsize: 8px;

$fontsize1: 12px;
$fontsize2: 14px;
$fontsize3: 16px;
$fontsize4: 18px;
$fontsize5: 22px;
$fontsize6: 24px;
$fontsize7: 30px;
$fontsize8: 48px;

// Padding
$globalPadding: 3%;
$viewSliderPadding: 35px;

/* Mixins and includes */
@import "coderehab/mixins/ignorepadding";
@import "coderehab/mixins/centerelement";
@import "coderehab/include/viewslider";
@import "coderehab/include/columns";

$susy: (
    global-box-sizing: border-box,
    use-custom: (rem: true)
);

.color-1 {color:$color1}
.color-2 {color:$color2}
.color-3 {color:$color3}
.color-4 {color:$color4}
.color-5 {color:$color5}

.font-1 {font-family:$font1 !important}
.font-2 {font-family:$font2 !important}
.font-3 {font-family:$font3 !important}

$screen-size-mobile: 0px;
$screen-size-tablet: 650px;
$screen-size-desktop: 1050px;
$screen-size-bigscreen: 1400px;
