<section id='page' class='profile'>

    <header id="page-header">

        <img class="profilePicture" src="{{profilePicture}}" width="100" height="100"/>

        <h4>{{ fullName }}</h4>

        <nav id="submenu">
            <ul>
                <li>{{#link-to 'me'}}Algemeen{{/link-to}}</li>
				<li>{{#link-to 'me.references'}}Referenties{{/link-to}}</li>
				<li>{{#link-to 'me.connections'}}Netwerk{{/link-to}}</li>
            </ul>
        </nav>
    </header>

    <section id='page-content'>
        <section class="reference">
			<img src="https://pbs.twimg.com/profile_images/477014477729042432/ncT2ukoh.jpeg" width="100" height="100" class="referencePersonImage"/>
		</section>
    </section>
</section>
