<section id='page' class='references'>

    <header id="page-header">

        <img class="profilePicture" src="{{profilePicture}}" width="100" height="100"/>

        <h4>{{ fullName }}</h4>

        <nav id="submenu">
            <ul>
                <li>{{#link-to 'me'}}Algemeen{{/link-to}}</li>
				<li>{{#link-to 'me.references'}}Referenties{{/link-to}}</li>
				<li>{{#link-to 'me.connections'}}Netwerk{{/link-to}}</li>
            </ul>
        </nav>
    </header>

    <section id='page-content'>
        <section class="reference">
			<img src="https://pbs.twimg.com/profile_images/477014477729042432/ncT2ukoh.jpeg" width="100" height="100" class="referencePersonImage"/>
			<h2>Michiel de Ruyter</h2>
			<h3>Schilder</h3>
			<p>"Donec euismod condimentum sem quis sagittis. Maecenas diam lacus, vulputate a porttitor eu, porttitor et sapien. Mauris in ligula ac arcu posuere mattis a nec tellus. Ut sollicitudin, elit in cursus volutpat, mauris enim mattis turpis, a elementum metus elit volutpat urna. Sed lacinia nulla quis massa iaculis bibendum."</p>
		</section>
    </section>
</section>
