
<<<<<<< HEAD
    <header>
        <h1>Xtalus</h1>
        <h3>Het zakelijke matching platform voor studenten, zzp'ers en professionals</h3>
    </header>

    <section>
        <img src="assets/images/login-header-bg.jpg"/>
        <form method="post">
            <input type="text" id="username" placeholder="Gebruikersnaam"/>
            <input type="password" id="password" placeholder="Wachtwoord"><br>
            <input type="submit" value="Inloggen" />
        </form>

    </section>
=======
<section>
    <form method="post" {{action "login" on="submit"}}>
        {{input value=username type="text"}}
        {{input value=password type="password"}}
        <button type="submit" class="btn">Log in!</button>
    </form>
</section>
>>>>>>> xtalus/master
