<section id="page-login">
    <header>
        <h1>Xtalus</h1>
        <h3>Het zakelijke matching platform voor studenten, zzp'ers en professionals</h3>
    </header>

    <section>
        <img src="assets/images/login-header-bg.jpg"/>
        <p>{{message}}</p>
        <form method="post" {{action "login" on="submit"}}>
            {{input value=username type="text" placeholder="gebruikersnaam"}}
            {{input value=password type="password" placeholder="wachtwoord"}}
            <button type="submit" class="btn">Inloggen</button>
        </form>

    </section>

</section>
