<header>
    <h1>Xtalus</h1>
    <h3>Het zakelijke matchig platform voor studenten, zzp'ers en professionals</h3>
</header>

<section>
    <form method="post">
        <input type="text" id="username"/>
        <input type="password" id="password">
        <input type="submit" value="login" />
    </form>
</section>
