<header id="page-header" class='has-image'>
    <button {{action "createPersonalContact" model.id}} id="addProjectBtn">connect <i class="fa fa-plus"></i></button>
    <img class="profilePicture" src="{{ model.profilePicture }}" width="100" height="100"/>
    <h4>Profiel: {{model.fullName}}</h4>



    <nav id="submenu">
        <ul>
            <li>{{#link-to 'profile.index'}}Algemeen{{/link-to}}</li>
            <li>{{#link-to 'profile.references'}}Referenties{{/link-to}}</li>
            <li>{{#link-to 'profile.connections'}}Netwerk{{/link-to}}</li>
        </ul>
    </nav>

</header>

{{outlet}}
