<header id="page-header" class='has-image'>

	<img class="profilePicture" src="{{ model.owner.picture }}" width="100" height="100"/>
	<h4>Project: {{ model.description }}</h4>

	<nav id="submenu">
		<ul>
			<li>{{#link-to 'project.index'}}Algemeen{{/link-to}}</li>
			<li>{{#link-to 'project.matching'}}Matches{{/link-to}}</li>
		</ul>
	</nav>
</header>

{{ outlet }}
