<header id="page-header">

    <h5>{{#link-to 'me.projects'}}<i class="fa fa-chevron-left"></i> Terug naar projecten{{/link-to}}</h5>

	<nav id="submenu">
		<ul>
			<li>{{#link-to 'project.index'}}Algemeen{{/link-to}}</li>
			<li>{{#link-to 'project.matching'}}Matches{{/link-to}}</li>
		</ul>
	</nav>
</header>

{{ outlet }}
