<form method="post" {{action "" on="submit"}}>
	{{
            view Ember.Checkbox
            contentBinding="paymentMethods"
            selectionBinding="order.bank"
            optionLabelPath="name"
            optionValuePath="content.Id"
        }}

</form>
